.all {
    display: grid;
    width: 1200px;
    grid-template-columns: 600px 600px;
    grid-template-rows: 700px 700px;
    gap: 30px;
}

.admin_graph {
    border: 2px solid #000;
    padding: 20px;
}

.chart_div {
    border: 2px solid #000;
    padding: 20px;
}

.chart_div_order {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart_name_order{
    width: 500px;
    margin-bottom: 0;
}

.chart_sub_name_order{
    margin-bottom: 0;
}